body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.collection-status {
  padding: 0 1rem;
}

.set-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.set-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  color: #333;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-title {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.collected {
  background-color: #4caf50;
}

#save {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #4bd4ff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#save:hover {
  background-color: #2aa6cc;
}
